.main {
  position: relative;
  height: calc(100vh - 58px);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
}

.main__content {
  position: relative;
  display: flex;
  background-color: none;
  margin: 0 auto;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.main__content__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__content__intro h1 {
  word-wrap: break-word;
  font-size: 5vw;
  padding-bottom: 20px;
}

.main__content__intro div {
  font-size: 2vw;
  padding-top: 10px;
}

.main__content__solve {
  background-color: rgba(10, 139, 62);
  color: white;
  border: none;
  margin-top: 1rem;
  padding: 13px 30px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;

  transition: all 0.15s;
}

.main__content__solve:hover {
  background-color: transparent;
  color: rgba(10, 139, 62);
  box-shadow: 0 0 0 1.5px rgba(10, 139, 62);
}

.masthead {
  text-align: center;
  margin: 0 10rem;

  .masthead__intro {
    padding-top: 10rem;
  }
  hr {
    text-align: center;
    width: 3.25rem;
    margin: 1rem auto;
    border: 3px solid rgba(10, 139, 62, 0.603);
  }
}
